li{
    padding: 10px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: blue;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color: blueviolet;
    font-size: 25px;
    font-family: cursive;
}
p{
    color: darkred;
    font-family: 'Geneva';
}
.align{
    width: 100%;
}
body{
    background-color: antiquewhite;
}